# PostgreSQL Neon
DATABASE_URL="postgresql://neondb_owner:/neondb?sslmode=require&pgbouncer=true"

# Google OAuth
GOOGLE_CLIENT_ID="A long string of random characters"
GOOGLE_CLIENT_SECRET="A long string of random characters"

# Github OAuth Development
GITHUB_CLIENT_ID="A long string of random characters"
GITHUB_CLIENT_SECRET="A long string of random characters"

# Brevo 
BREVO_API_KEY="A long string of random characters" 

# Email Sender Configuration
EMAIL_FROM_NAME="Better Auth Support" # Brevo name
EMAIL_FROM_ADDRESS="support@gmail.com" # Brevo address

# Better Auth
BETTER_AUTH_SECRET="A long string of random characters"
# Use the URL of your domain to point to your production server in Vercel/Netlify/Others
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000" # Dev server